# Основні бібліотеки для роботи з даними
pandas==2.2.2
numpy==1.26.4

# Візуалізація
matplotlib==3.8.0
seaborn==0.13.2

# Моделювання
scikit-learn==1.5.1
xgboost==2.0.3

# Веб-застосунок (для етапу інтеграції)
streamlit==1.37.0
fastapi==0.111.0
uvicorn==0.30.0

# Для контейнеризації (на майбутнє)
python-dotenv==1.0.1

# Додатково
jupyterlab==4.2.3
joblib
